{% include 'header.html.twig' %}

{% block body %}
<div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
    <div class="uk-width-1-1">
        <div class="uk-flex uk-flex-center uk-container uk-background-muted">
            <div class="uk-card-default uk-dark uk-padding uk-width-1-2">
                <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                    <div class="uk-width-1-1@m">
                        <h3 class="uk-card-title uk-text-center">Last one small flare</h3>
                        {{ form_start(form, {'action': path('reg'), 'method': 'POST'}) }}


                        {{ form_rest(form) }}
                            <div class="uk-margin">
                                <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">Registration</button>
                            </div>

                            <div class="uk-text-small uk-text-center">
                                Already have an account? <a href="/login" uk-switcher-item="1">Log in</a>
                            </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}
    {% include 'bottom.html.twig' %}
